/*.pdf
*.zip
/up2063130_cw1_a.xlsx
/.cache/
/.project
/scripts/data/
/scripts/plot_1/data
/scripts/plot_1/plot1.html
/scripts/plot_1/plot1.png
/scripts/plot_2/data/
/scripts/plot_2/rsconnect/
/scripts/plot_3/data/
/tex/indent.log
/tex/doc.toc
/tex/doc.run.xml
/scripts/plot_3/rsconnect/
/scripts/plot_4/data/
/scripts/plot_4/rsconnect/
/scripts/plot_5/data
/scripts/plot_5/plot5.html
/scripts/plot_5/plot5.png
/tex/.auctex-auto/
/tex/doc.aux
/tex/doc.bbl
/tex/doc.bcf
/tex/doc.blg
/tex/doc.fdb_latexmk
/tex/doc.fls
/tex/doc.log
/tex/doc.out
/tex/doc.pdf
